/*  Google Font import: Russo One, PT Serif, Mukta, Oswald */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Russo+One&display=swap');

/* Using  Asterisk selector to overwrite browser default rules*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1  {
    font-family: "Russo One", "Mukta", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}
h2, h3 {
   font-family: "Mukta", sans-serif; 
   color:rgb(0, 0, 139);
   letter-spacing: 0.5px;
   width: 100%;
   min-height: 20px;
   padding: 5px 1rem;
   text-align:center;

}

/*Header*/
header{
    background-image: linear-gradient(to bottom, #1926ae, #1822b3, #191eb8, #1a18bc, #1d11c1, #1b0dba, #1908b4, #1604ad, #0e059a, #070688, #020676, #000564);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px rgb(91, 226, 250);
    /* styling nav toggle */
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    
  }

header a {
    text-decoration: none;
    color: whitesmoke;

}

#menu {
    font-size: 100%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu li{
    margin-bottom: 1em;
}

/*Navbar with dropdown toggle*/
nav {
    position: absolute;
    background-image: linear-gradient(to bottom, #1926ae, #1822b3, #191eb8, #1a18bc, #1d11c1, #1b0dba, #1908b4, #1604ad, #0e059a, #070688, #020676, #000564);
    width: 100%;
    left: 0;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 2px whitesmoke;
    display: none;
    top: 100%;
    justify-content: center;
    
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: large;
    color: whitesmoke;
    
}

/*Main Content*/
main {
    flex: 1 0 auto;
    margin-top: 40px;  
    
}

/*Family section*/
#family {
   height:800px;
   width: 100%;
   background: url(/assets/images/family.webp) no-repeat center/cover;
   position: relative;
}

#cover-text {
   background-color: rgba(241, 225, 0, 0.7);
   position: absolute;
   bottom: 3rem;
   width: 100%;  
}

/* Intro section */
#intro {
    margin: 20px auto;
    width: 100%;
    padding: 10px 25px;
    background-image: linear-gradient(to right top, #c8cad6, #c5bfdb, #ccb2d9, #d8a2d1, #e791bf, #e881b7, #e871af, #e85fa6, #d550b4, #b847c4, #8e47d5, #3d4ce5);
    margin-top: 0;
    margin-bottom: -16px;
}


.intro p {
    font-family: "PT Serif", "Oswald", sans-serif;
    text-align: justify;
    
}


#smile-image {
    background: url(/assets/images/smile-image.webp) no-repeat center/cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    justify-content: center;
    margin: auto; /*align to center*/
    margin-bottom: 1rem;
    margin-top: 1rem;
}


/*Footer*/

footer {
    font-family: "Oswald", sans-serif;
    padding: 15px;
    justify-content: space-evenly;
    border: 2px solid rgb(171, 226, 245);
    background: url(/assets/images/tignes-footer.webp) no-repeat center/cover;
    padding-top: 5px;
    position: relative;

}

.address {
    text-align: center;
    letter-spacing: 1px ;
    font-size: 150%;
    color: rgb(0, 0, 139);
    margin-top: 2px;
    }

.get-ready-buttons {
    width: 200px;
    padding: 1px 40px;
    margin: auto;
    text-align: center;
    margin-top: 5px;

}

.button {
    background-color: rgba(179, 237, 255, 0.9);
    border-radius:5px;
    background:transparent;
    width:150px;
    height: 30px;
    font-size: large;
    margin: 25px 0;

}

.button a {
    text-decoration: none;
    border-radius: 2px;
    padding: 5px 5px;
    font-size: 100%;
    margin-top: 10px;
    align-items: center;
    font-family: "Mukta", sans-serif;
}

.get-ready-buttons a:hover {
    font-weight: 600;
    color:green;


}

#social-networks {
    text-align: center;
    padding: 10px 10px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#social-networks i {
    font-size: 150%;
    padding: 10px;
    color: rgb(0, 0, 139);
    text-align: center;
    padding-left: 3px; 

}

#contacts {
background-color: rgba(239, 246, 50, 0.3);

}

#contacts h3 {
    display: none;
}

/*Media screen query for screens 768px and up*/

@media screen and (min-width: 768px) {

   /*Header*/
   
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content; 
        padding-right: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
    
    #menu {
        display: flex;
    
    }

    #menu > li {
        padding-left: 1rem;
        text-align: center;
    }
    

    #logo {
        text-align: center;
    }

    /* Main Content*/

    main {
        margin-top: 76px;
    }

    #cover-text {
        font-size: 200%;
        width: 50%;
    }

    .intro {
        padding: 25px;
        font-weight: 700;
        letter-spacing: 2px;
        
    }
    
    

    #smile-image {
    margin: auto; /* moves the picture to center*/
    margin-bottom: 2rem;
    }


    
    /* Footer*/
#contacts {
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 15px;

}

#contacts > li > a {
    padding: 3px;
}

#social-networks {
    list-style-type: none;
    order: 1;
}

/*Media screen query for screens 992px and up*/
@media screen and (min-width: 992px) {

    /*Header*/

    #menu a:hover {
    border-bottom: 2px solid whitesmoke;
    }

    #menu > li {
    padding-left: 8rem;
    }

    /* Main Content*/
    main {
    margin-top: 56px;
    }


}