/*  Google Font import: Russo One, PT Serif, Mukta*/
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Russo+One&display=swap');

/* Using  Asterisk selector to overwrite browser default rules*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1  {
    font-family: "Russo One" "Mukta" sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    
}

/*Header*/
header{
    background-image: linear-gradient(to bottom, #1926ae, #1822b3, #191eb8, #1a18bc, #1d11c1, #1b0dba, #1908b4, #1604ad, #0e059a, #070688, #020676, #000564);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px black;
    /* styling nav toggle */
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    
  }

header a {
    text-decoration: none;
    color: whitesmoke;

}

#menu {
    font-size: 100%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu li{
    margin-bottom: 1em;
}

/*Navbar with dropdown toggle*/
nav {
    position: absolute;
    background-image: linear-gradient(to bottom, #1926ae, #1822b3, #191eb8, #1a18bc, #1d11c1, #1b0dba, #1908b4, #1604ad, #0e059a, #070688, #020676, #000564);
    width: 100%;
    left: 0;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 2px whitesmoke;
    display: none;
    top: 100%;
    justify-content: center;
    
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: large;
    color: whitesmoke;
    

}

/*Main Content*/
main {
    background: darkgray;
    flex: 1 0 auto;
    margin-top: 40px;
    padding: 0 1rem;
    
}

/*Footer*/
footer {
    background-color: rgb(247, 102, 102); 
    border: 2px solid black;
}

    #contacts {
      
    }



/*Media screen query for screens 768px and up*/
@media screen and (min-width: 768px) {

   /*Header*/
   
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content; 
        padding-right: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
    
    #menu {
        display: flex;
    
    }

    #menu > li {
        padding-left: 1rem;
        text-align: center;


    }
    

    #logo {
        text-align: center;
    }

    /* Main Content*/
    main {
        margin-top: 76px;
    }

    
    
    
    /* Footer*/

}

/*Media screen query for screens 992px and up*/
@media screen and (min-width: 992px) {

/*Header*/



#menu > li {
    padding-left: 8rem;
}

/* Main Content*/
main {
    margin-top: 56px;
}

/* Footer*/

}